.vacina-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-block {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-success {
    background-color: #218838;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}
